<div class="footer-top">
  <div class="container">

    <div class="footer-brand-wrapper">

      <a href="./index.html" class="logo">
        <img src="assets/images/logo.png" width="200" alt="Filmlane logo">
      </a>

      <ul class="footer-list">

        <li>
          <a href="./index.html" class="footer-link" data-i18n="footerHome"></a>
        </li>

        <li>
          <a href="#" class="footer-link" data-i18n="footerMovies"></a>
        </li>

        <li>
          <a href="#" class="footer-link" data-i18n="footerSeries"></a>
        </li>

        <li>
          <a href="#" class="footer-link" data-i18n="footerWebSeries"></a>
        </li>

        <li>
          <a href="#" class="footer-link" data-i18n="footerAbout"></a>
        </li>

      </ul>

    </div>

    <div class="divider"></div>

    <div class="quicklink-wrapper">

      <ul class="quicklink-list">

        <li>
          <a href="#" class="quicklink-link" data-i18n="footerFaq">Faq</a>
        </li>

        <li>
          <a href="#" class="quicklink-link" data-i18n="footerHelpCenter">Help center</a>
        </li>

        <li>
          <a href="#" class="quicklink-link" data-i18n="footerTerms">Terms of use</a>
        </li>

        <li>
          <a href="#" class="quicklink-link" data-i18n="footerPrivacy">Privacy</a>
        </li>

      </ul>

      <ul class="social-list">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-pinterest"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

      </ul>

    </div>

  </div>
</div>

<div class="footer-bottom">
  <div class="container">

    <p class="copyright">
      &copy;2025 <a href="https://github.com/emrecanesenn/cine-zenith">@emrecanesen</a> - <i data-i18n="footerCopyrightText"></i> <a href="https://github.com/codewithsadee/filmlane" target="_blank">@codewithsadee</a>
    </p>

  </div>
</div>
