<div class="container">

  <div class="overlay" id="data-overlay"></div>

  <a href="./index.html" class="logo">
    <img src="assets/images/logo.png" width="200" alt="CineZenith logo">
  </a>

  <div class="header-actions">

    <button class="search-btn" id="header-search-open-btn">
      <ion-icon name="search-outline"></ion-icon>
    </button>

    <div class="lang-wrapper">
      <label for="language">
        <ion-icon name="globe-outline"></ion-icon>
      </label>

      <select name="language" id="language">
        <option id="en-US" value="en">EN</option>
        <option id="tr-TR" value="tr">TR</option>
      </select>
    </div>

    <a href="./favorite.html">
      <button class="btn btn-primary favoriteButton" data-i18n="menuFavoritesButton"></button>
    </a>
  </div>

  <button class="menu-open-btn" id="data-menu-open-btn">
    <ion-icon name="reorder-two"></ion-icon>
  </button>

  <nav class="navbar" id="data-navbar">

    <div class="navbar-top">

      <a href="./index.html" class="logo">
        <img src="assets/images/logo.png" width="200" alt="CineZenith logo">
      </a>

      <button class="menu-close-btn" id="data-menu-close-btn">
        <ion-icon name="close-outline"></ion-icon>
      </button>

    </div>

    <ul class="navbar-list">

      <li>
        <a href="./index.html" class="navbar-link movies" data-i18n="menuHome"></a>
      </li>

      <li>
        <a href="./discovery.html" class="navbar-link movies" data-i18n="menuMovies"></a>
      </li>

      <li>
        <a href="./discovery.html" class="navbar-link series" data-i18n="menuSeries"></a>
      </li>

      <li>
        <a href="./favorite.html" class="navbar-link webSeries" data-i18n="favoriteListTittle"></a>
      </li>

      <li>
        <a href="#" class="navbar-link about" data-i18n="menuAbout"></a>
      </li>

    </ul>

    <ul class="navbar-social-list">



      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-pinterest"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </li>

      <li>
        <a href="#" class="navbar-social-link">
          <ion-icon name="logo-youtube"></ion-icon>
        </a>
      </li>

    </ul>

  </nav>

</div>